.retour_galerie{
  position: absolute;
  right: 5%;
  top: 5%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
}

.retour_galerie a:hover{
	text-decoration: none;
	color: grey;
}

.retour_galerie a:visited{
	text-decoration: none;
	color: black;
}

.conteneur{
	width:1000px;
	height:100%;
	/*border:1px solid #000;*/
	flex-basis: 100%;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenu{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.img_principale{
	margin: auto; /*image centrée*/
 	max-width: 50%; 
 	height: auto;
 	margin-bottom: 10%;
}

.img_secondaires{
	margin: auto; /*image centrée*/
 	max-width: 50%; 
 	height: auto;
 	margin-bottom: 1%;
}

.titre_sgalerie{
  margin-top: 1%;
  margin-bottom: 5%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.legende{
  margin-right: auto;
  max-width: 30%;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  text-align: justify;
}

.contenu_secondaire{
	max-width:50%;
	display: flex;
	flex-direction: row;
	justify-content : center;
	/*margin-bottom: 5%;*/
}

.contenu_secondaire img{
	margin-right: 5%;
	margin-left: 5%;
}

/*----legendes des images----*/
.flex_legende{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.sous_legende{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  margin-bottom: 2%;
}