* {
		/* Permet de reset la mise en page css + supprimer la ligne blanche au dessus de la page */
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
   background: white;
   display: flex;
   flex-direction: row;
   justify-content: space-between;


}

.img_insta{
	width:30px;
	height:30px;
}

.name{
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	color: white;
	margin: 50px;
}


.menu{
	height: 98vh; /* Prend la longueur de la page*/
	width: 20%; /* Largeur du menu */
	position: sticky; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #E5E6E4;
	overflow-x: hidden; /* Désactive le scroll horizontal */
	padding-top: 20px;

	display: flex;
	flex-direction: column;
	align-items : center;
	margin-right: 3%;

}

.menu ul{
	list-style: none;
	text-transform: uppercase;

}

.menu ul li {
margin: 10%;

}

.menu .selec{
	color :white;
	font-style: italic;
}

.menu ul li a{
	color: black;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    margin-right: 20px;

}

.menu a:hover{
	color:white;
}

.title{
  position: absolute;
  right: 5%;
  top: 5%;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
}